<div class="container py-4">
  <h2 class="mb-3">Add New Product</h2>
  
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="row g-3">

    <div class="col-md-6">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>

    <div class="col-md-6">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price">
    </div>

    <div class="col-md-6">
      <label class="form-label">Quantity</label>
      <input type="number" class="form-control" formControlName="quantity">
    </div>

    <div class="col-md-6">
      <label class="form-label">Category</label>
      <input type="text" class="form-control" formControlName="category">
    </div>

    <div class="col-12">
      <label class="form-label">Image URL</label>
      <input type="text" class="form-control" formControlName="image">
    </div>

    <div class="col-12">
      <button class="btn btn-success w-100" type="submit" [disabled]="productForm.invalid">
        Add Product
      </button>
    </div>
  </form>
</div>
