<div class="container py-4">
  <a class="btn btn-success mb-3" [routerLink]="['/add']">
    Add Product
  </a>
  <div class="mb-3">
    <select #catSelect class="form-select mb-3"
            (change)="onCategoryChange(catSelect.value)">
      <option value="">All Categories</option>
      <option value="phones">Phones</option>
      <option value="laptops">Laptops</option>
      <option value="audio">Audio</option>
    </select>
  </div>

  <!-- scroll to top btn-->
  <button class="scroll-top-btn" (click)="scrollToTop()" title="Go to Top">
    <i class="bi bi-arrow-up"></i>
  </button>
  
  
  <div class="row g-4">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let product of displayedProducts"
    >
      <app-card
        [product]="product"
        (delete)="deleteProduct($event)"
      ></app-card>
    </div>

    <div *ngIf="displayedProducts.length === 0" class="text-center py-5">
      <i class="bi bi-search fs-1 d-block mb-3" style="color: #ffffff;"></i>
      <h4 class="mb-2" style="color: #f8f9fa;">No Products Found</h4>
      <p style="color: #e0e0e0;">Try adjusting your search or category filter.</p>
    </div>
    
  </div>
</div>
