<div class="container py-4">
  <div class="mb-3">
    <select #catSelect class="form-select mb-3"
            (change)="onCategoryChange(catSelect.value)">
      <option value="">All Categories</option>
      <option value="phones">Phones</option>
      <option value="laptops">Laptops</option>
      <option value="audio">Audio</option>
  </select>
  </div>

  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3"
         *ngFor="let product of displayedProducts">
      <app-card [product]="product" (delete)="deleteProduct($event)"></app-card>
    </div>
  </div>
</div>
